/*Tablet section*/ 
@media screen and (min-width:767px)
 {
 header{text-align: left; 
}   
header h1{margin-left:5px;}

.disappear{visibility: visible;}
 }

 ul{display:flex;
}


/*Desktop section*/ 

@media screen and (min-width: 991px)
{
 .recipe-section{display:flex;}
 
 .info-card{height:100%;}

 ul{display:flex;
flex-direction: column;
}
li{line-height:2rem;}
.video-card{max-width:65%;}
}
