*{margin:0;
padding:0;
box-sizing: border-box;}

body{font-family: Montserrat, 'Helvetica Neue', sans-serif;
background-color: rgb(170, 162, 162);
}


/*Header*/ 
header{height:60px;
background-color: white;
color: goldenrod;
text-align: center;
font-size:1rem;
font-family: 'Nerko One', cursive;
padding-top:5px;
}


