*{margin:0;
padding:0;
box-sizing: border-box;}

body{font-family: Montserrat, 'Helvetica Neue', sans-serif;
background-color: rgb(223, 223, 223);
}

main{margin:0px 10px;}

/*Header*/ 
header{height:60px;
background-color: white;
color: goldenrod;
text-align: center;
font-size:1rem;
font-family: 'Nerko One', cursive;
padding-top:5px;
}

/*Recipe section*/

.recipe-header{height:80px;
display:flex;
justify-content: space-between;
align-items: center;
}

.recipe-container{height:auto;
}

.recipe-section{height:auto;
}

.video-card{height:300px;
width:100%;}

.video-card iframe{height:100%;
width:100%;}

.info-card{
height:50%;
width:auto;}

.info-well{height:100px;
width:auto;
margin: 10px 15px;
background-color: rgb(143, 143, 143);
}

.upper-well{display:flex;
    height:50%;
justify-content: space-between;
align-items:center;}
.lower-well{height:50%}

ul{list-style-type: none;
margin:20px 5px;
font-size: 0.9rem;}

/*Social Network*/ 
.social-links{margin-top:60px;
margin-bottom:60px;
display:flex;
justify-content:space-around;}

.social{background-color: white;
padding: 10px;
border-radius:70%;}

/*AD Banner*/ 

.ad-banner{max-width:100%;
max-height:80px;
margin-top: 60px;}

.ad-banner img{height:auto;
max-width:100%;}

/*Presentation*/ 

.presentation{margin-top:60px;}

.tiramisu-img{max-width: 100%;
height:auto;
text-align: center;
margin:20px;}

.presentation img{height:150px;
width:auto;}

.presentation p{margin-bottom:50px;}

/*footer*/
footer{height: 100px;
    width:100%;
background-color: cornflowerblue;
color:white;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 0.8rem;}

footer a{text-decoration: none;
color:white;}




/*utilities*/ 
.orange{color:orange;}

.header-title{font-size:1rem;
color:rgb(95, 95, 95);
display:block;
}

.disappear{display:none;}
.disappear1{display:none;}

.rate{color:white;
background-color:orange;
padding: 5px 10px;
border-radius:20px;}

.kcal{color:white;
background-color: cadetblue;
padding:5px 8px;}

.plus-info{ color:orange;}

li .fa-solid{color:orange;}

.facebook{color:blue;}
.youtube, .pinterest{color:red;}
.twitter{color:rgb(24, 170, 218)}
.instagram{color: deeppink;}

